.title-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50;

    h2{
        padding-left: 20px;
    }
}

// .table-block {
//     height: 350;
//     overflow: 'auto';
// }

// .grid-component {
//     display: flex;
//     elevation: 0;
// }